@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Rubik:700');

body {
	font-family: 'Rubik', sans-serif;
}

/*MENU*/
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	color: #555555;
	padding: 10px;
	box-sizing: border-box;
}
.adalab-image img{
	width: 100%;
	max-width: 180px;
}
.menu-contact {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
}
.menu-contact-specific {
	padding: 10px;
	font-size: 0.8em;
}
.menu-contact-specific a {
	color: #555555;
	text-decoration: none;
}

/*PRINCIPAL*/
.principal {
	background-image: url(../images/banner_home_v3.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 700px;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
}
.text-principal {
	padding-top: 100px;
	padding-left: 30px;
	flex-basis: 100px;
	font-size: 1.8em;
	font-weight: 700;
	color: #555555;
}
