@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

body {
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

/*MENU*/
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	color: #555555;
	padding: 10px;
	box-sizing: border-box;
}
.adalab-image img{
	width: 100%;
	max-width: 160px;
}
.menu-contact {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
}
.menu-contact-specific {
	padding: 10px;
	font-size: 0.9em;
}
.menu-contact-specific a {
	color: #555555;
	text-decoration: none;
}

/*PRINCIPAL*/
.principal {
	flex:1;
	background-image: url(../images/banner_home_v3.jpeg);
	height: 100vh;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
}
.text-principal {
	padding-top: 100px;
	padding-left: 50px;
	flex-basis: 100px;
	font-size: 1.4em;
	font-weight: 700;
	color: #555555;
}

/*FOOTER*/
.footer {
	background-color: #252525;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
}
.footer-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	font-size: 0.8em;
	margin: 0;
}
.footer-box a {
	text-decoration: none;
	color: #f5f5f5;
}
.copy {
	color: #555555;
	padding: 10px;
}

/*FORMULARIO*/
.menu-form {
	-webkit-box-shadow: 2px 2px 19px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 19px -4px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 19px -4px rgba(0,0,0,0.75);
}
.form-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100vh;
	font-family: 'Rubik', sans-serif;
}
.form-box-text {
	font-size: 0.9em;
	padding: 20px;
	color: #555555;
}
.label {
	display: flex;
	flex-direction: column;
	margin: 5px;
	font-size: 0.9em;
}
.cel {
	background-color: #f5f5f5;
	border-radius: 2px;
}
.button {
	background-color: #3CDBC0;
	border-radius: 5px;
	outline: none;
	color: #f5f5f5;
	font-size: 0.8em;
	padding: 9px 14px;
	margin-top: 5px;
	font-weight: 700;
}

/*MEDIAQUERIES*/
@media all and (max-width: 900px) {
 .text-principal {
	 font-size: 1.1em;
	 padding-left: 20px;
 }
 .footer {
	 padding-top: 40px;
	 padding-bottom: 40px;
 }
}

@media all and (max-width: 500px) {
	.menu {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}
	.text-principal {
 	 font-size: 0.8em;
	 padding-top: 140px;
  }
	.principal {
		background-position: center 50px;
	}
	.footer {
 	 padding-top: 30px;
 	 padding-bottom: 30px;
  }
	.form-box-text {
		padding-top: 150px;
	}
}
