@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Rubik:700');

body {
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: column;
}

/*MENU*/
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	color: #555555;
	padding: 10px;
	box-sizing: border-box;
}
.adalab-image img{
	width: 100%;
	max-width: 160px;
}
.menu-contact {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
}
.menu-contact-specific {
	padding: 10px;
	font-size: 0.9em;
}
.menu-contact-specific a {
	color: #555555;
	text-decoration: none;
}

/*PRINCIPAL*/
.principal {
	background-image: url(../images/banner_home_v3.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 700px;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
}
.text-principal {
	padding-top: 100px;
	padding-left: 30px;
	flex-basis: 100px;
	font-size: 2em;
	font-weight: 700;
	color: #555555;
}

/*FOOTER*/
.footer {
	background-color: #252525;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
}
.footer-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	font-size: 0.8em;
	margin: 0;
}
.footer-box a {
	text-decoration: none;
	color: #f5f5f5;
}
.copy {
	color: #555555;
	padding: 10px;
}

/*MEDIAQUERIES*/
@media all and (max-width: 900px) {
	.principal {
		max-height: 570px;
	}
 .text-principal {
	 font-size: 1.6em;
 }
 .footer {
	 padding-top: 40px;
	 padding-bottom: 40px;
 }
}

@media all and (max-width: 500px) {
	.menu {
		flex-direction: column;
		align-items: flex-start;
	}
	.text-principal {
 	 font-size: 1.3em;
	 padding-top: 160px;
  }
	.principal {
		max-height: 450px;
		background-position: -50px 80px;
	}
}
